<.header>
  New Page
  <:subtitle>Use this form to manage page records in your database.</:subtitle>
</.header>

<.page_form changeset={@changeset} action={~p"/wiki/pages"} />

<.back navigate={~p"/wiki/pages"}>Back to pages</.back>
