<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:title]} type="text" label="Title" />
  <.input field={f[:content]} type="textarea" label="Content" />
  <.input field={f[:last_edited_by]} type="text" label="Last edited by" />
  <:actions>
    <.button>Save Page</.button>
  </:actions>
</.simple_form>
