<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:name]} type="text" label="Name" />
  <.input
    field={f[:class]}
    type="select"
    label="Class"
    options={Raulnor.FiveE.Class.list_for_select()}
  />
  <:actions>
    <.button>Save</.button>
  </:actions>
</.simple_form>
